@forward "variables";
@use "variables" as v;

/*Mixins*/
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headText {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: v.$black;
  text-transform: capitalize;

  span {
    color: v.$secondary;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

@mixin pText {
  font-size: 0.8rem;
  text-align: left;
  color: v.$gray;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

@mixin boldText {
  font-size: 1rem;
  font-weight: 800;
  color: v.$black;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

@mixin socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  div {
    @include flexCenter;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: v.$white;
    margin: 0.25rem 0;
    border: 1px solid v.$lightGray;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: v.$gray;
    }

    &:hover {
      background-color: v.$secondary;
      border-color: v.$secondary;

      svg {
        color: v.$white;
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
