@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

/*Font*/
$fontBase: "Rubik", sans-serif;

/*Colors*/
$primary: #d3dfee;
$secondary: #01497c;

/*BW Shading*/
$black: #030303;
$blackOpacity: #03030370;
$lightGray: #e0e0e0;
$mediumGray: #9da2a9;
$gray: #5a6372;
$white: #fff;

/*Other Colors*/
$purple: #560737;
